table {
    border-collapse: collapse;
}
td {
    border: 1px solid #999;
    padding: 3px 3px;
}
th {
    border: 1px solid #999;
    padding: 3px 3px;
}
td select {
    border:none;
}
select {
    padding: 3px 10px;
}